<table>
    <thead>
        <tr>
            <!--otra forma de hacerlo 
            <th [attr.colspan]=colummnas>Ciclista</th>
            -->
            <th attr.colspan={{colummnas}}>Ciclista</th>
        </tr>
    </thead>
    <tbody>
         <tr>
            <td>Nombre</td>
            <td>{{nombre}}</td>
        </tr>
        <tr>
            <td>Apellidos</td>
            <td>{{apellidos}}</td>
        </tr>
        <tr *ngIf="visibles">
            <td>Direccion</td>
            <td>{{direccion}}</td>
        <tr *ngIf="visibles">
            <td>Edad</td>
            <td>{{edad}}</td>   
        </tr>   
    </tbody>


</table>
<br>
<button (click)="alternarVisibilidad()">{{visibles ? "Ocultar" : "Mostrar"}} Detalles</button>
